body {
    background-color: #fff638;
}

.cardBodyCustomBackground {
    background-color: #b1ffd6 ;
}

.card {
    transition: transform .2s
}

.customContentText {
    font-size: 0.9em;
}


.card:hover {
    .card-body {
        background-color: #e3c188;
    }
    transform: scale(1.1);
}