body {
    background-color: #ffd3b3;
}

ul.ingredientsList {
    max-height: 330px;
}

@media (min-width: 1200px) {
    .customContentText {
        font-size: 1.1em;
    }
}

@media (max-width: 1199px) {
    .customContentText {
        font-size: 1.0em;
    }
}