<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="scriptRecipe.css">
    <link rel="stylesheet" href="script.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script src="https://kit.fontawesome.com/f032067f14.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark sticky-top" data-bs-theme= "dark">
        <div class="container">
            <h3 class="navbar-brand mb-0">Kane's Kitchen</h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-burger"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="homepage.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="recipes.html">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >Log In</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Look for recipes!" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center my-3"> Name of the recipe </h1>
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="resources/Burgir1.jpg" alt="#">
            </div>
            <div class="col-lg-6 align-self-center">
                <h3>Origin and traditions</h3>
                <p class="customContentText text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi consequuntur culpa cum dignissimos dolores facere hic incidunt laboriosam laborum, libero molestiae nisi odio provident quisquam reiciendis similique suscipit, tempore.</p>
                <p class="customContentText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi consequuntur culpa cum dignissimos dolores facere hic incidunt laboriosam laborum, libero molestiae nisi odio provident quisquam reiciendis similique suscipit, tempore.</p>
            </div>
        </div>
        <h2 class="text my-3"> Ingredients </h2>
        <div class="row">
            <div class="col-lg-3 align-self-center">
                <ul class="customContentText overflow-auto ingredientsList ">
                    <li> list item 1</li>
                    <li> list item 2</li>
                    <li> list item 3</li>
                    <li> list item 4</li>
                    <li> list item 5</li>
                    <li> list item 6</li>
                    <li> list item 7</li>
                    <li> list item 8</li>
                    <li> list item 9</li>
                    <li> list item 10</li>
                    <li> list item 11</li>
                </ul>
            </div>
            <div class="col-lg-3 align-self-center">
                <ul class="customContentText overflow-auto ingredientsList ">
                    <li> list item 12</li>
                    <li> list item 13</li>
                    <li> list item 14</li>
                    <li> list item 15</li>
                    <li> list item 16</li>
                    <li> list item 17</li>
                    <li> list item 18</li>
                    <li> list item 19</li>
                    <li> list item 20</li>
                    <li> list item 21</li>
                    <li> list item 21</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="resources/Burgir2.jpg" alt="#">
            </div>
        </div>

        <div class="row">
            <div class="col">
            <h2 class="text my-3"> Instructions </h2>
                <ol class="customContentText">
                    <li>
                        <h5> Step  </h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi consequuntur culpa cum dignissimos dolores facere hic incidunt laboriosam laborum, libero molestiae nisi odio provident quisquam reiciendis similique suscipit, tempore.</p>
                    </li>
                    <li>
                        <h5> Step ... </h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi consequuntur culpa cum dignissimos dolores facere hic incidunt laboriosam laborum, libero molestiae nisi odio provident quisquam reiciendis similique suscipit, tempore.</p>
                    </li>
                    <li>
                        <h5> Step n </h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi consequuntur culpa cum dignissimos dolores facere hic incidunt laboriosam laborum, libero molestiae nisi odio provident quisquam reiciendis similique suscipit, tempore.</p>
                    </li>

                </ol>
            </div>
        </div>

        <div class="row customContentText">
            <h3>Macros and energy</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th class="border-3" scope="col"></th>
                        <th class="border-3" scope="col"> value per portion </th>
                        <th class="border-3" scope="col"> value per whole dish </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="border-2" scope="row">energy</th>
                        <td>200</td>
                        <td>50</td>
                    </tr>

                    <tr>
                        <th class="border-2" scope="row">Proteins</th>
                        <td>200</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <th class="border-2" scope="row">
                            <p>carbs</p>
                            <p class="offset-1"> out of which are sugars </p>
                        </th>
                        <td>
                            <p>50</p>
                            <p class="offset-1"> 27 </p>
                        </td>
                        <td>
                            <p>200</p>
                            <p class="offset-1"> 127 </p>
                        </td>
                    </tr>
                    <tr>
                        <th class="border-2" scope="row">fats</th>
                        <td>200</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <th class="border-2" scope="row">fiber</th>
                        <td>200</td>
                        <td>50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container customContentText">
        <h3>Comments</h3>
        <div class="row">
            <div class="col"> Username</div>
            <div class="col"> comment content </div>
        </div>
        <div class="row">
            <div class="col"> Username</div>
            <div class="col"> comment content </div>
        </div>
        <div class="row">
            <div class="col"> Username</div>
            <div class="col"> comment content </div>
        </div>
    </div>

    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>